.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  height: 65.625vw;
  background: url("../../assets/images/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* 
.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65.625vw;
  background-color: rgba(0, 47, 61, 0.5);
} */

.footer__form {
  width: 840px;
  height: 718px;
  background-color: rgba(0, 183, 236, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 142px 57px 130px;
}

.footer__title {
  font-weight: 300;
  font-size: 36px;
  color: white;
  margin-bottom: 17px;
}

.footer__input {
  display: flex;
  align-items: center;
  padding-left: 16px;
  width: 568px;
  height: 50px;
  margin-bottom: 6px;
  border: 1px solid;
  border-image-source: linear-gradient(
    92.46deg,
    rgba(102, 102, 102, 0.9) 2.9%,
    rgba(102, 102, 102, 0.71) 102.49%
  );

  background-color: white;
  font-weight: 300;
  font-size: 18px;
}

.footer__radios {
  align-self: flex-start;
  margin: 17px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer__radios_choose {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.footer__radio_block {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.footer__radio_block label,
.footer__radio_block input[type="radio"] {
  cursor: pointer;
}

.footer__textarea {
  margin-bottom: 17px;
  width: 568px;
  height: 108px;
  resize: none;
  font-weight: 300;
  font-size: 18px;
  padding: 14px 16px;
  border: 1px solid;
  border-image-source: linear-gradient(
    92.46deg,
    rgba(102, 102, 102, 0.9) 2.9%,
    rgba(102, 102, 102, 0.71) 102.49%
  );
}

.footer__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__input_file {
  display: none;
}

.footer__btn_resume {
  border: 2px solid rgba(155, 204, 55, 1);
  background-color: white;
  color: rgba(155, 204, 55, 1);
  font-weight: 700;
  font-size: 18px;
  width: 270px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.footer__btn_submit {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: rgba(155, 204, 55, 1);
  height: 50px;
  width: 218px;
  border-radius: 5px;
  border: none;
}
